/* ===== Basic Setup ===== */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #dfddd8;
  color: #000000;
}

/* ===== Navbar ===== */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4A70A9;
  padding: 15px 50px;
  color: #8FABD4;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-title-link {
  text-decoration: none;
  color: inherit;
}

.nav-title {
  font-size: 1.6em;
  font-weight: 700;
  color: #ffffff;
  text-decoration: None;
  animation: glow 3s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff;
  }

  to {
    text-shadow: 0 0 15px #dccf9c;
  }
}

.nav-links .nav-btn {
  background: transparent;
  color: #fff;
  border: none;
  margin-left: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links .nav-btn:hover,
.nav-links .nav-btn.active {
  color: #00bcd4;
}

/* ===== Page Content ===== */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

/* ===== Card Section ===== */
.card {
  width: 80%;
  max-width: 900px;
  background: #8FABD4;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  font-size: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  margin: 50px 0;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.8s ease;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  color: #ffffff;
  font-size: 250%;
  animation: glow 3s infinite alternate;
}

/* ===== Buttons ===== */
.btn-link,
.btn-download {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #00bcd4;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.btn-link:hover,
.btn-download:hover {
  background: #0099aa;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .nav-links .nav-btn {
    font-size: 0.9em;
  }

  .card {
    width: 90%;
    padding: 25px;
  }
}